//
// Variables
// --------------------------------------------------

$primary-color:     #6db561;//green
$secondary-color:   #5dbdc0;//blue
$tertiary-color:    #f2ebce;//beige
$quaternary-color:  #eba871;//peach
$quinary-color:     #564b3f;//brown
$quinary-color-dark:     darken(#564b3f, 5%) !default;

$black: #000;//black


//
// Typography
// -------------------------
$base-font-family: 'rieslingregular', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; ;
$alt-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; ;

$font-HelperPath : "../fonts/";
@function get-path-to-assets($font-HelperPath){
  @return $font-HelperPath;
}

$img-HelperPath: "../images/";
@function get-path-to-assets($img-HelperPath){
  @return $img-HelperPath;
}



@font-face {
  font-family: 'rieslingregular';
  src: url('#{$font-HelperPath}riesling-webfont.eot');
  src: url('#{$font-HelperPath}riesling-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$font-HelperPath}riesling-webfont.woff') format('woff'),
  url('#{$font-HelperPath}riesling-webfont.ttf') format('truetype'),
  url('#{$font-HelperPath}riesling-webfont.svg#rieslingregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

h1{
  font-size: 3.429em;
  @include break-xs{
    font-size: 2.714em;
  }
}

