:root {
  --swiper-theme-color: #7225ba;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

.grid-container {
  width: 100%;
  height: auto;
  max-width: 1800px;
  margin: auto;
}

.image-responsive {
  display: block;
  width: 100%;
  height: auto;
}
