//
// Mixins
// --------------------------------------------------

//
// Border Radius
// -------------------------
@mixin border-radius($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
//*********
//usage
//@include border-radius(4px)
//*********

//
// Box Shadow
// -------------------------
@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}



//@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
//  -webkit-box-shadow: $top $left $blur $color #{$inset};
//  -moz-box-shadow: $top $left $blur $color #{$inset};
//  box-shadow: $top $left $blur $color #{$inset};
//}
//*********
//usage
//@include box-shadow(0 1px 1px rgba(0, 0, 0, 0.075) no)
//*********

//
// Transitions
// -------------------------
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
//*********
// usage
//  a {
//    color: gray;
//    @include transition(color .3s ease);
//    &:hover {
//      color: black;
//    }
//    }
//**********

//
// Animations
// -------------------------
@mixin animation ($delay, $duration, $animation) {
  -webkit-animation-delay: $delay;
  -webkit-animation-duration: $duration;
  -webkit-animation-name: $animation;
  -webkit-animation-fill-mode: forwards;

  -moz-animation-delay: $delay;
  -moz-animation-duration: $duration;
  -moz-animation-name: $animation;
  -moz-animation-fill-mode: forwards;

  -o-animation-delay: $delay;
  -o-animation-duration: $duration;
  -o-animation-name: $animation;
  -o-animation-fill-mode: forwards;

  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $animation;
  animation-fill-mode: forwards;
}
//*********
// usage
//  .element {
//    width: 100px;
//    height: 100px;
//    @include animation(1s, 0.25s, slide);
//    }
//**********

//
// Opacity
// -------------------------
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}
//IE8
//*********
// usage
//  .faded-text {
//    @include opacity(0.8);
//    }
//**********

//
// Gradient
// -------------------------
@mixin linear-gradient($fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
  background-image: -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
  background-image: -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
  background-image: linear-gradient(top, $fromColor, $toColor);
  //filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}')
  //geTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}
//*********
// usage
//    @include gradient(saturate($color, 5%), darken($color, 5%));
//**********

/*@mixin ellipse-gradient ($hPosition, $vPosition, $shape, $toColor, $fromColor, $position){
  background-color: $toColor;
  background-image: -moz-raidal-gradient ( ($hPosition), $vPosition, ellipse, ($toColor), $fromColor, $position);

}*/



//
// Break Points
// -------------------------
@mixin break-lg {
  @media only screen and (max-width: 1200px) {
    @content;
  }
}

@mixin break-md {
  @media only screen and (max-width: 1199px) {
    @content;
  }
}

@mixin break-sm {
  @media only screen and (max-width: 992px) {
    @content;
  }
}

@mixin break-xs {
  @media only screen and (max-width: 767px) {
    @content;
  }
}

@mixin break-xxs {
  @media only screen and (max-width: 320px) {
    @content;
  }
}
//*********
// usage
//  .sidebar {
//    margin: 5px;
//    @include break-md {
//      margin: 10px;
//    }
//  }
//**********